<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- *Mapper.xml에 Select 이용 시 resultType에 패키지명.DTO(VO)에서 패키지명을 붙이지 않고도 사용하는 방법
	예제 resultType="kr.co.domain.BoardVO"에서 resultType="BoardVO" 이렇게 간편하게 작성 가능-->
  <typeAliases>
  	<package name="kr.co.domain"/>
  </typeAliases>
</configuration>
