@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


.search-wrapper{
	float:left;
	margin: 10px;
	position: static;
	width: 100%;
}

.search-wrapper .input-holder {
  height: 70px;
  width: 70px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius:6px;
  position: relative;
  transition: all .3s ease-in-out;
}
/* search 버튼 활성화시 */
.search-wrapper.active .input-holder {
  width: 450px;
  border-radius: 50px;
  background: rgba(0,0,0,.5);
  transition: all .5s cubic-bezier(0.0, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
  margin: 10px;
  width: 100%;
  height: 50px;
  padding: 0 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width: 70px;
  height: 70px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 2;
  float: right;
  transition: all .3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(315deg);
}
.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  
  position: absolute;
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #000000;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  border-radius: 16px;
  border: 4px solid #000000;
}
.search-wrapper .close {
  z-index: 1;
  width: 25px;
  height: 25px;
  top: 24px;
  right: 20px;
  cursor: pointer;
  /* 시계 반대방향으로 돌려놓고 active 가 될 때 시계방향으로 회전시킴*/
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right: -50px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}
.search-wrapper .close::before,
.search-wrapper .close::after {
  position: absolute;
  content: "";
  background: #000000;
  border-radius: 2px;
}
/* 닫기 X 버튼 십자가로 만든로 rotate 시킴 */
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0;
  top: 10px;
}


.scrollToTop > img{
	
	
	width:40px;
	float: right;
	position: fixed; /* 포지션 고정 */ 
	right: 2%; /* 오른쪽에서 2% - %도 할수 있음*/ 
	bottom: 50px; /* 밑에서 5px */ 

}


body{
font-family: 'Noto Sans KR', sans-serif;
}
.list_thumbnail{
	color: #747474;
}
.nav-pills{
	color: #747474;
}
.row p{
margin: 1px 0;
font-size: 12px;
}
div
.thumb_list {
		margin: 20px;
	}
.navbar .navbar-nav {

  display: inline-block;
  float: none;
}
*{
	margin: 0;
	padding: 0;
}
ui , li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.menu_wrap .dep1 > li {
	display: inline-block;
	width: 100px;
	vertical-align : top;
	text-align: center;
	font-size: 13px;
}
.menu_wrap .dep1 > li:hover > .dep2{
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu_wrap .dep1 > li > a {
	display: block;
	padding: 10px 0;
}
.menu_wrap .dep2{
	display: none;
	padding: 10px 0;
} 
.menu_wrap .dep2 a:hover{
	text-decoration: initial;
}
.menu_wrap .dep1 > li {
	display: inline-block;
	width: 100px;
	vertical-align : top;
	text-align: center;
	font-size: 16px;
	position:relative;
}
.logo > a > img {
  width: 300px;
  height: 150px;
  display : block;
  margin : auto;
}
.dep2{
	position: absolute;
	left:0;
	top:40px;
	z-index: 10000;
	width: 100%;
	background : rgba(255,255,255,0.7);
	}

.dep1{
	text-align:center;
}
.prodOrder .dep3 > li {
	display: inline-block;
	width: 100px;
	vertical-align : top;
	text-align: center;
	font-size: 13px;
}
.prodOrder .dep3 > li:hover > .dep4{
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.prodOrder .dep3 > li > a {
	display: block;
	padding: 10px 0;
}
.prodOrder .dep4{
	display: none;
	padding: 10px 0;
} 
.prodOrder .dep4 a:hover{
	text-decoration: initial;
}
.prodOrder .dep3 > li {
	display: inline-block;
	width: 100px;
	vertical-align : top;
	text-align: center;
	font-size: 16px;
	position:relative;
}

.dep4{
	position: absolute;
	left:0;
	top:40px;
	z-index: 10000;
	width: 100%;
	background : rgba(255,255,255,0.7);
	}

.dep3{
	text-align:right;
}